In [4]:
import numpy as np
import pandas as pd

df = pd.read_csv('上市公司資料.csv')
df1 = df.reindex(columns=['資料年月','公司代號','公司名稱','產業別','營業收入-當月營收','營業收入-去年同月增減(%)'])
df1

      資料年月  公司代號 公司名稱   產業別  營業收入-當月營收  營業收入-去年同月增減(%)
0    11108  1102   亞泥  水泥工業    7069221       -1.724460
1    11108  1108   幸福  水泥工業     390053       56.035555
2    11108  1109   信大  水泥工業     478276      -19.122427
3    11108  1110   東泥  水泥工業     176935       61.915700
4    11108  1213   大飲  食品工業      38696       -8.546039
..     ...   ...  ...   ...        ...             ...
834  11108  9942   茂順    其他     352730        4.978542
835  11108  9943  好樂迪  觀光事業     212912     4082.946955
836  11108  9944   新麗    其他     179660        0.555220
837  11108  9955   佳龍    其他      81881      -25.099022
838  11108  9958  世紀鋼  鋼鐵工業     757968      -29.395195

[839 rows x 6 columns]

In [5]:
df1[df1['公司名稱']=='幸福']

    資料年月  公司代號 公司名稱   產業別  營業收入-當月營收  營業收入-去年同月增減(%)
1  11108  1108   幸福  水泥工業     390053       56.035555

In [6]:
df1[df1['產業別']=='食品工業']

      資料年月  公司代號     公司名稱   產業別  營業收入-當月營收  營業收入-去年同月增減(%)
4    11108  1213       大飲  食品工業      38696       -8.546039
5    11108  1215       卜蜂  食品工業    2393814       17.471487
6    11108  1218       泰山  食品工業    1054476        9.749563
7    11108  1219       福壽  食品工業    1352250       15.822328
8    11108  1220       台榮  食品工業     314062       18.314836
9    11108  1225      福懋油  食品工業    1333748       26.729125
10   11108  1227       佳格  食品工業    2686715       -4.517949
11   11108  1229       聯華  食品工業     831107        4.737139
12   11108  1231      聯華食  食品工業     976319        9.966266
13   11108  1232      大統益  食品工業    2186695       33.774232
14   11108  1233       天仁  食品工業     173566       26.164671
15   11108  1234       黑松  食品工業    1074526       25.921655
16   11108  1235       興泰  食品工業       6974      205.341506
17   11108  1236       宏亞  食品工業     221454      105.361846
18   11108  1256  鮮活果汁-KY  食品工業     581403       20.625031
151  11108  1737       臺鹽  食品工業     334505       -8.181975

### 查詢DataFrame的基本資料

- dataFrame.head()
- dataFrame.trail()
- dataFrame.info()

In [10]:
df1.head()
df1.tail()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839 entries, 0 to 838
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   資料年月            839 non-null    int64
 1   公司代號            839 non-null    int64
 2   公司名稱            839 non-null    object
 3   產業別             839 non-null    object
 4   營業收入-當月營收       839 non-null    int64
 5   營業收入-去年同月增減(%)  838 non-null    float64
dtypes: float64(1), int64(3), object(2)
memory usage: 39.5+ KB

In [13]:
mask = df1['營業收入-去年同月增減(%)'] < 0
df1[mask]

      資料年月  公司代號 公司名稱   產業別  營業收入-當月營收  營業收入-去年同月增減(%)
0    11108  1102   亞泥  水泥工業    7069221       -1.724460
2    11108  1109   信大  水泥工業     478276      -19.122427
4    11108  1213   大飲  食品工業      38696       -8.546039
10   11108  1227   佳格  食品工業    2686715       -4.517949
19   11108  1301   台塑  塑膠工業   17450790      -24.646634
..     ...   ...  ...   ...        ...             ...
823  11108  9928   中視    其他      66149       -2.211546
828  11108  9935  慶豐富    其他     415837       -2.938204
832  11108  9940   信義    其他     919977      -56.294280
837  11108  9955   佳龍    其他      81881      -25.099022
838  11108  9958  世紀鋼  鋼鐵工業     757968      -29.395195

[341 rows x 6 columns]