### DataFrame欄和列過濾-使用實體方法
- reindex()
- drop()

https://www.perplexity.ai/search/a7f0c830-2dda-452d-aca5-5798da563afb

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

np.random.seed(42)
scores = np.random.randint(50, 101,(50,5))
df1:DataFrame = pd.DataFrame(scores,
             index=[f'學號{i}' for i in range(1,51)],
             columns=["國文","英文","數學","歷史","生物"])
df1

In [2]:
df1.reindex(columns=['國文','英文','數學'],index=['學號1','學號5','學號10'])

      國文  英文  數學
學號1   88  78  64
學號5   79  87  51
學號10  67  53  74

In [4]:
df1.drop(columns=['歷史','生物'],index=['學號3','學號5'])

       國文   英文   數學
學號1    88   78   64
學號2    70   88   68
學號4    52   71   51
學號6    61   71   93
學號7    76   91   77
學號8    96  100   93
學號9   100   56   70
學號10   67   53   74
學號11   58   75   51
學號12   96   56   93
學號13   84   63   66
學號14   89   53   51
學號15   53   78   67
學號16   83   59   85
學號17   97   64   57
學號18   89   70   65
學號19   96   73   75
學號20   90   78   64
學號21   74   56   58
學號22   93   57   73
學號23   66   57   84
學號24   54   91   88
學號25   56   58   57
學號26   82   97   72
學號27   84   93   89
學號28   84   50   84
學號29   63   52   50
學號30   63   88   76
學號31   64   75   91
學號32   81   88   98
學號33   79   86   72
學號34   64   92   78
學號35   81   56  100
學號36   51   91   94
學號37   77   93   93
學號38   60   77   74
學號39   50   76   62
學號40   88   55   57
學號41   86   82  100
學號42   73   64   81
學號43   90   98   98
學號44   51   52   98
學號45   66   98   51
學號46   72   86   81
學號47   68   51   93
學號48   55   81   53
學號49   87   73   54
學號50   71   60   97