### DataFrame,使用元素值的過濾
- 使用比較運算子

In [ ]:
import numpy as np
import pandas as pd

df1 = pd.DataFrame(np.arange(16).reshape((4, 4)),
                   index=['台北','台中','台南', '高雄'],
                   columns=['one', 'two', 'three', 'four'])
df1

In [ ]:
#如果值是bool,簡稱為mask
mask = df1 >= 6
mask

In [ ]:
df1[mask]

In [ ]:
df1[df1>=6]

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

np.random.seed(42)
scores = np.random.randint(50, 101,(50,5))
df1:DataFrame = pd.DataFrame(scores,
             index=[f'學號{i}' for i in range(1,51)],
             columns=["國文","英文","數學","歷史","生物"])
df1

In [ ]:
chinese_true = df1['國文'] >= 60
df1[chinese_true]

In [16]:
chinese_true = df1['國文'] >= 60
english_true = df1['英文'] >= 60
df1[chinese_true & english_true]

      國文   英文   數學  歷史   生物
學號1   88   78   64  92   57
學號2   70   88   68  72   60
學號3   60   73   85  89   73
學號5   79   87   51  70   82
學號6   61   71   93  74   98
學號7   76   91   77  65   64
學號8   96  100   93  52   86
學號13  84   63   66  85   99
學號17  97   64   57  63   72
學號18  89   70   65  94   67
學號19  96   73   75  74   94
學號20  90   78   64  94   50
學號26  82   97   72  73   86
學號27  84   93   89  71   76
學號30  63   88   76  58   64
學號31  64   75   91  62  100
學號32  81   88   98  81   53
學號33  79   86   72  88   94
學號34  64   92   78  85   62
學號37  77   93   93  69   79
學號38  60   77   74  88   82
學號41  86   82  100  91   93
學號42  73   64   81  81   73
學號43  90   98   98  61   88
學號45  66   98   51  51   77
學號46  72   86   81  82   50
學號49  87   73   54  83   55
學號50  71   60   97  65   82